/*---------------------- Контекстный селектор ----------------------*/
/* 1. Сделайте селектор, который выберет все абзацы <p>. */
p{}

/* 2. Сделайте селектор, который выберет все абзацы <p> внутри дивов <div>. */
div p{}

/* 3. Сделайте селектор, который выберет все <h2> внутри дивов <div>. */
div h2{}


/*---------------------- Группировка селекторов ----------------------*/
/* 4. Сделайте селектор, который выберет абзацы <p> и <h2> одновременно. */
p, h2{}

/* 5. Сделайте селектор, который выберет все <h2> внутри дивов <div> и одновременно все абзацы <p>. */
div h2, p{}

/* 6.Сделайте селектор, который выберет все <h2> внутри дивов <div> и одновременно все абзацы <p> внутри дивов <div>. */
div h2, div p{}


/*---------------------- На id ----------------------*/
/* 7. Сделайте селектор, который выберет все элементы из id=test. */
#test *{}

/* 8. Сделайте селектор, который выберет все абзацы <p> из id=test. */
#test p{}

/* 9. Сделайте селектор, который выберет все абзацы <p> из id=test и одновременно все <h2> (любые!). */
#test p, h2{}


/*---------------------- На классы ----------------------*/
/* 10. Сделайте селектор, который выберет все элементы с классом test. */
.test{}

/* 11. Сделайте селектор, который выберет все абзацы <p> с классом test. */
p.test{}

/* 12. Сделайте селектор, который выберет все элементы с классом test и одновременно все элементы с классом hello. */
.test, .hello{}

/* 13. Сделайте селектор, который выберет все абзацы <p> с классом test и одновременно все <h2> с классом hello. */
p.test, h2.hello

/* 14. Сделайте селектор, который выберет все абзацы <p> с классом test и одновременно все элементы с классом hello. */
p.test, .hello{}


/*---------------------- На id и классы вместе ----------------------*/
/* 15. Сделайте селектор, который выберет все абзацы <p> с классом test из дива <div> с id=hello. */
div#hello p.test{}

/* 16. Сделайте селектор, который выберет все абзацы <p> с классом test из элементов с классом hello. */
.hello p.test{}

/* 17. Сделайте селектор, который выберет все абзацы <p> с классом test из дивов <div> с классом hello. */
div.hello p.test{}

/* 18. Сделайте селектор, который выберет все <h2> из класса test. */
.test h2{}


/*---------------------- На мультиклассы ----------------------*/
/* 19. Сделайте селектор, который выберет все элементы, которые имеют одновременно 2 класса: test и hello. */
.test.hello{}

/* 20. Сделайте селектор, который выберет все абзацы <p>, которые имеют одновременно 2 класса: test и hello. */
p.test.hello{}

/* 21. Сделайте селектор, который выберет все <h2>, которые имеют одновременно 3 класса: test, hello и eee. */
h2.test.hello.eee{}


/*---------------------- Дочерний селектор > ----------------------*/
/* 22. Сделайте селектор, который выберет все <i>, которые лежат непосредственно внутри <p>. */
p>i{}

/* 23. Сделайте селектор, который выберет все <li>, которые лежат непосредственно внутри <ul>. */
ul>li{}

/* 24. Сделайте селектор, который выберет все <a>, которые лежат непосредственно внутри <p> и одновременно все <a> с классом test. */
p>a, a.test{}


/*---------------------- Соседний селектор + ----------------------*/
/* 25. Сделайте селектор, который выберет все <i>, которые лежат непосредственно после <b>. */
b+i{}

/* 26. Сделайте селектор, который выберет все <i>, которые лежат непосредственно после <b> из элемента с id=test. */
#test b+i{}

/* 27. Сделайте каждый абзац, следующий сразу после элемента <ul>, красного цвета. */
ul+p{
    color: red;
}


/*---------------------- Родственный селектор ~ ----------------------*/
/* 28. Сделайте селектор, который выберет все абзацы <p> идущие после <h1>. */
h1~p{}

/* 29. Сделайте селектор, который выберет все абзацы <p> идущие после <h2> из элемента с id=test. */
#test h2+p{}


/*---------------------- Универсальный селектор * ----------------------*/
/* 30. Сделайте селектор, который выберет все элементы на странице. */
*{}

/* 31. Сделайте селектор, который выберет все <i>, лежащие внутри любых элементов, лежащих внутри абзаца <p>. */
p * i{}


/*---------------------- Селекторы атрибутов ----------------------*/
/* 32. Сделайте селектор, который выберет все элементы с атрибутом title. */
[title]{}

/* 33. Сделайте селектор, который выберет все абзацы <p> с атрибутом title. */
p[title]{}

/* 34. Сделайте селектор, который выберет все абзацы <p> с атрибутом title, который равен 'привет'. */
p[title="привет"]{}

/* 35. Сделайте селектор, который выберет все ссылки <a> с атрибутом href, значение которого начинается на 'http://'. */
a[href^="http://"]{}

/* 36. Сделайте селектор, который выберет все ссылки <a> с атрибутом href, значение которого заканчивается на '.html'. */
a[href$=".html"]{}

/* 37. Сделайте селектор, который выберет все абзацы <p> с атрибутом title, в значении которого есть слово 'привет'. */
p[title*="привет"]{}

/* 38. Сделайте селектор, который выберет все абзацы <p> с классом, который начинается на 'top-'. */
p[class^="top-"]{}


/*---------------------- Практика по селекторам ----------------------*/
*{
    margin: 0;
    padding: 0;
}
.link_to_tasks{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
.tasks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}
.tasks>div{
    margin-bottom: 20px;
    padding: 20px;
    border: 2px dotted #818181;
}
h3{
    text-align: center;
    margin-bottom: 20px;
}

li{
    width: 200px;
    padding: 3px;
    margin-bottom: 5px;
    border: 1px solid blue;
    list-style-position: inside;
}
li:hover{
    color: white;
    background: green;
    border: 1px solid green;
    cursor: pointer;
}

/* 39 */
.next_item li:hover+li{
    color: white;
    background: red;
    border: 1px solid red;
}

/* 40 */
.throught_one_item li:hover+li+li{
    color: white;
    background: red;
    border: 1px solid red;
}

/* 41 */
.all_items_after li:hover~li{
    color: white;
    background: red;
    border: 1px solid red;
}

/* 42 */
.except_the_last_item li:hover~li:not(:last-child){
    color: white;
    background: red;
    border: 1px solid red;
}

/* 43 */
.odd_items_after li:hover~li:nth-child(odd){
    color: white;
    background: red;
    border: 1px solid red;
}