:root{
  --black: #000;
  --white: #fff;
  --light_grey: #f5f5f5;
  --grey: #D5D5D5;
  --dark_grey: #4B4B4B;
  --red: #f2726f;
  --purple: #5D62B5;
  --turquoise: #29C3BE;
  --green: #62B58F;
  --gradient: linear-gradient(rgb(41 195 190/70%), rgb(41 195 190/70%)), linear-gradient(rgb(93 98 181/60%), rgb(93 98 181/60%)), linear-gradient(rgb(0 0 0/20%), rgb(0 0 0/20%));
  --font: "Roboto", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --weight_regular: 400;
  --weight_medium: 500;
  --weight_bold: 700;
  --weight_black: 900;
  --border_radius: 40px;
  --shadow: 0px 16px 24px 0px rgb(38 38 38/20%);
  --shadow_hover: 0px 16px 24px 0px rgb(0 0 0/40%);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  display: block;
}
html{
  font-size: 10px;
  scroll-behavior: smooth;
}
body{
  color: var(--white);
  background-color: var(--light_grey);
  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: var(--weight_bold);
  line-height: 1;
  letter-spacing: 0.15px;
}
ol, ul{
  list-style: none;
}
blockquote, q{
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
  content: "";
  content: none;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
*, ::before, ::after{
  box-sizing: border-box;
}
a, span, ::after, ::before{
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
:focus{
  outline: 2px solid var(--purple);
}
.header{
  width: 100%;
  position: absolute;
  top: 0;
}
.container{
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}
.container_wide{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.logo_and_utility{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;
}
.logo_and_menu{
  display: flex;
  align-items: center;
}
.logo_and_menu a:not(.logo){
  background-color: var(--white);
  border-radius: 5px;
}
.btn{
  font-size: 1.2rem;
  line-height: 2;
  font-weight: var(--weight_bold);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
  border-radius: 8px;
  padding: 12px 34px;
  transition: .3s;
}
body .btn:hover, body .btn:focus{
  background-color: red;
  box-shadow: var(--shadow_hover);
  animation: swing .5s linear infinite;
}
@keyframes swing{
  25%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.icon_before::before, .icon_after::after{
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.utility{
  font-size: 1.2rem;
  line-height: 2.2rem;
  display: flex;
  align-items: center;
}
.utility>:nth-child(n + 2){
  margin-left: 30px;
}
.utility>:nth-child(n):not(.btn){
  display: flex;
}
.utility_hours{
  font-weight: var(--weight_bold);
}
.utility_call{
  font-weight: var(--weight_medium);
  border: 2px solid rgb(0 0 0/0);
  transition: .3s;
}
.utility_call:hover, .utility_call:focus,
.search:hover, .search:focus,
.shopping_cart:hover, .shopping_cart:focus,
.social a:hover, .social a:focus{
  border: 2px solid var(--red);
  border-radius: 5px;
  transform: scale(1.1);
}
.utility .icon_before::before{
  margin-right: 10px;
}
.utility_call::before{
  background-image: url("../img/icons/phone.svg");
}
.utility_hours::before{
  background-image: url("../img/icons/access_time.svg");
}
.utility_desc{
  flex: 1;
}
.utility_desc>:first-child{
  text-transform: uppercase;
}
.header .btn{
  padding: 8px 34px;
}
.navbar{
  padding: 10px 40px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: none;
  align-items: center;
  color: var(--black);
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.menu .dropmenu{
  padding: 10px 20px;
  letter-spacing: 1.5px;
}
.menu .dropmenu>:nth-child(n + 2){
  margin-top: 10px;
}
.logo_and_menu .search_and_cart{
  display: none;
}
.menu a{
  transition: .3s;
}
.burger{
  padding: 0 3px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.burger:hover, .burger:focus{
  border: 2px solid var(--red);
}
.burger:hover .burger_icon span,
.burger:hover .burger_icon::before,
.burger:hover .burger_icon::after,
.burger:focus .burger_icon span,
.burger:focus .burger_icon::before,
.burger:focus .burger_icon::after{
  background-color: var(--red);
}
.burger_icon{
  width: 24px;
  height: 24px;
  flex-direction: column;
  justify-content: space-around;
}
.burger_icon::before,
.burger_icon::after{
  content: "";
}
.burger_icon span,
.burger_icon::before,
.burger_icon::after{
  width: 100%;
  height: 3px;
  background-color: var(--black);
  transition: .3s;
}
.navbar_links{
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_links a{
  padding: 9px 2px;
  align-items: center;
  transition: .3s;
}
.navbar_links a:hover:not(.btn), .navbar_links a:focus-within:not(.btn),
.menu a:hover, .menu a:focus,
.tabs_item:hover, .tabs_item:focus,
.contacts a:hover, .contacts a:focus,
.explore_links a:hover, .explore_links a:focus{
  color: var(--red);
}
.navbar_links li{
  position: relative;
}
.expand_more::after{
  background-image: url("../img/icons/expand_more.svg");
}
.navbar_links>:nth-child(n + 2) {
  margin-left: 37px;
}
.dropmenu{
  padding: 10px;
  position: absolute;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow_hover);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  z-index: 1000;
}
.dropmenu a{
  width: 100%;
  height: 42px;
  align-items: center;
}
.dropmenu .icon_after::after{
  background-image: url("../img/icons/expand_more.svg");
  transform: rotate(-90deg);
  margin-left: auto;
}
.navbar_links .dropmenu,
.menu .dropmenu{
  left: 0;
  top: 100%;
}
.navbar_links .dropmenu .dropmenu{
  left: calc(100% + 10px);
  top: -10px;
}
.navbar_links li:hover>.dropmenu,
.navbar_links li:focus-within>.dropmenu,
.menu:hover>.dropmenu,
.menu:focus-within>.dropmenu{
  visibility: visible;
  opacity: 1;
}
.search_and_cart>:nth-child(n + 2) {
  margin-left: 15px;
}
.burger, .search, .shopping_cart, .social a, .contacts a{
  border: 2px solid rgb(0 0 0/0);
  transition: .3s;
}
.shopping_cart{
  position: relative;
}
.search::before{
  background-image: url("../img/icons/search.svg");
}
.shopping_cart::before{
  background-image: url("../img/icons/shopping_cart.svg");
}
.shopping_count{
  width: 16px;
  height: 16px;
  font-size: 1rem;
  font-weight: var(--weight_medium);
  line-height: 2.2;
  background-color: var(--red);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -30%;
  right: -30%;
}
.hero{
  background: var(--gradient), url("../img/hero_bgr.webp") no-repeat center / cover var(--turquoise);
  padding: 296px 0;
  box-shadow: 0px 4px 4px rgb(0 0 0/25%);
}
.hero_title {
  width: 60%;
  font-size: 5.6rem;
  font-weight: var(--weight_black);
}
.hero .btn {
  margin-top: 48px;
  box-shadow: var(--shadow);
}
.over{
  margin-top: -80px;
}
.over .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.over .content{
  width: 100%;
  border-radius: var(--border_radius);
  padding: 100px 87px 354px;
}
.about .content{
  background: url("../img/blob_about.webp") no-repeat 55px calc(100% + 40px), var(--purple);
  position: relative;
}
.about .content::before{
  content: "";
  background: url("../img/circles_about.webp") no-repeat center/cover;
  width: 201px;
  height: 317px;
  position: absolute;
  top: -108px;
  right: -76px;
}
.title{
  font-size: 3.6rem;
  font-weight: var(--weight_black);
  line-height: 4.2rem;
  padding: 33px 0 36px;
}
.about .title{
  width: 80%;
}
.text{
  font-weight: var(--weight_regular);
  line-height: 2.4rem;
  color: var(--dark_grey);
}
.about .text{
  color: var(--light_grey);
}
.overline{
  font-size: 1.2rem;
  line-height: 2.4rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.overline_light{
  color: var(--light_grey);
}
.overline_purple{
  color: var(--purple);
}
.overline_light::before{
  background-image: url("../img/icons/overline_white.svg");
}
.overline_purple::before{
  background-image: url("../img/icons/overline_purple.svg");
}
.over_img{
  width: 86%;
  height: auto;
  background-color: var(--purple);
  border-radius: var(--border_radius);
  box-shadow: var(--shadow);
  position: relative;
}
.about .over_img{
  margin-top: -300px;
}
.benefits{
  margin: 110px 0 122px;
}
.benefits .title{
  margin-bottom: 30px;
  color: var(--black);
}
.features{
  display: flex;
}
.benefits .features>:nth-child(n + 2){
  margin-left: 30px;
}
.benefits .features_item{
  display: flex;
}
.benefits .features_content{
  flex: 1;
}
.features_item::before{
  content: "";
  width: 63px;
  height: 63px;
  background-repeat: no-repeat;
  background-position: center;
}
.benefits .features_item::before{
  margin-right: 23px;
}
.dog_love::before{
  background-image: url("../img/icons/dog_love.svg");
}
.dog_vet::before{
  background-image: url("../img/icons/dog_vet.svg");
}
.dog_stream::before{
  background-image: url("../img/icons/dog_stream.svg");
}
.features_title{
  font-weight: var(--weight_black);
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: var(--red);
  margin-bottom: 20px;
}
.banner{
  background-color: var(--turquoise);
}
.banner .container_wide{
  padding: 112px 0 169px;
  background: url("../img/pup.webp") no-repeat 0 100%, url("../img/tennis_ball.webp") no-repeat calc(100% - 43px) 113px/136px, url("../img/line.webp") no-repeat calc(100% - 90px) 0, url("../img/blob_banner.webp") no-repeat 0 0, url("../img/circles_banner.webp") no-repeat 0 calc(100% - 60px);
}
.banner .container{
  display: flex;
  justify-content: flex-end;
}
.banner .content{
  width: 39%;
}
.banner .title{
  margin-bottom: 45px;
}
.services .container_wide{
  color: var(--black);
  padding: 110px 0 122px;
  background: url("../img/blob_services.webp") no-repeat 100% 250%;
}
.services .container{
  text-align: center;
}
.services .title{
  margin-bottom: 30px;
  text-align: left;
}
.services .features{
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 42px;
}
.services .features_item{
  width: 32%;
  margin-bottom: 24px;
  padding: 50px 43px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: var(--shadow);
  flex-direction: column;
  align-items: center;
  transition: .3s;
}
.services .features_item:hover, .services .features_item:focus{
  box-shadow: var(--shadow_hover);
  transform: scale(1.1);
}
.services .features_item::before{
  margin-bottom: 33px;
}
.dog_boarding::before{
  background-image: url("../img/icons/dog_boarding.svg");
}
.dog_daycare::before{
  background-image: url("../img/icons/dog_daycare.svg");
}
.dog_grooming::before{
  background-image: url("../img/icons/dog_grooming.svg");
}
.dog_food::before{
  background-image: url("../img/icons/dog_food.svg");
}
.dog_training::before{
  background-image: url("../img/icons/dog_training.svg");
}
.dog_collar::before{
  background-image: url("../img/icons/dog_collar.svg");
}
.services .slider_services{
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: none;
}
.services .slider_services a:hover, .services .slider_services a:focus{
  box-shadow: var(--shadow);
  transform: scale(1);
}
.services .slider_services .features_item{
  width: 80%;
}
.appointment{
  background: var(--gradient), url("../img/appointment_bgr.webp") no-repeat center/cover, var(--turquoise);
  text-align: center;
}
.appointment .container_wide{
  background: url("../img/blob_appointment.webp") no-repeat 0 30px, url("../img/circles_appointment.webp") no-repeat 100px 275px;
  padding: 150px 0 190px;
}
.appointment .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointment_form{
  width: 60%;
  padding: 76px 57px;
  background-color: var(--purple);
  border-radius: var(--border_radius);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.appointment_form :focus, .gallery :focus, .cta :focus{
  outline: 2px solid var(--turquoise);
}
.appointment_form .title{
  width: 100%;
  margin-bottom: 43px;
  padding: 0;
}
.appointment_form input, .appointment_form textarea, .appointment_form select,
.appointment_form input::placeholder, .appointment_form textarea::placeholder{
  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: var(--weight_regular);
  line-height: 2.4rem;
  color: var(--white);
}
.appointment_form input, .appointment_form textarea, .appointment_form select{
  background-color: inherit;
  border: 2px solid var(--white);
  border-radius: 10px;
  padding: 17px 23px 15px;
}
.appointment_form input, .appointment_form select{
  width: 48%;
  margin-bottom: 22px;
}
.appointment_form textarea{
  width: 100%;
  min-width: 100%;
  height: 180px;
  min-height: 180px;
  max-height: 250px;
  margin-bottom: 30px;
}
.appointment_form select{
  appearance: none;
  cursor: pointer;
}
.appointment_form textarea::placeholder, .appointment_form input::placeholder{
  transition: .3s;
}
.appointment_form textarea:focus::placeholder, .appointment_form input:focus::placeholder{
  opacity: 0;
  transform: translateX(20px);
}
.appointment_form .btn{
  box-shadow: var(--shadow);
  border: none;
  cursor: pointer;
}
.stat{
  width: 35%;
  font-weight: var(--weight_black);
}
.stat>:nth-child(n + 2){
  margin-top: 46px;
}
.stat .title{
  font-size: 3.0rem;
  line-height: 3.6rem;
  padding: 0;
}
.customers_count{
  font-size: 9.6rem;
}
.served{
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.gallery .content{
  background-color: var(--purple);
  padding-bottom: 410px;
}
.slider_gallery{
  margin-top: -360px;
}
.img_fluid{
  display: block;
  width: 100%;
  height: auto;
}
.live{
  font-weight: var(--weight_medium);
  line-height: 2.4rem;
  padding: 3px 19px;
  background-color: var(--green);
  border-radius: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
}
.tabs{
  font-weight: var(--weight_regular);
  line-height: 2.4rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(255 255 255/50%);
}
.tabs_item{
  padding: 15px 30px;
  position: relative;
  transition: .3s;
}
.tab_label::before{
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  right: 23px;
}
.label_green::before{
  background-color: var(--green);
}
.label_grey::before{
  background-color: var(--grey);
}
.tabs .active{
  font-weight: var(--weight_bold);
}
.tabs .active::after{
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--white);
  position: absolute;
  bottom: -2.5px;
  left: 0;
}
.testimonials{
  color: var(--black);
}
.testimonials .container_wide{
  padding: 119px 0 210px;
  background: url("../img/blob_testimonials.webp") no-repeat 0 100%;
}
.testimonials .container{
  display: flex;
}
.testimonials .titles{
  margin-right: 24px;
}
.testimonials .features_item{
  width: 324px;
  padding: 45px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}
.testimonials .features_item:nth-child(n + 2){
  margin-left: 24px;
}
.testimonials .features_item::before{
  display: none;
}
.testimonials .text{
  width: 100%;
  margin-bottom: 18px;
}
.testimonials .features_title{
  font-size: 1.6rem;
  font-weight: var(--weight_bold);
  line-height: 2.4rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.customer{
  margin-right: 17px;
}
.statistics{
  background-color: var(--turquoise);
}
.statistics .container_wide{
  background: url("../img/blob_stats.webp") no-repeat 100% 0;
  padding: 112px 0 212px;
  position: relative;
}
.statistics .container>img{
  width: 498px;
  height: 315px;
  border-radius: var(--border_radius);
  position: absolute;
  top: -80px;
  right: 80px;
}
.statistics .content>.title{
  width: 45%;
  margin-bottom: 40px;
}
.counts{
  display: flex;
  justify-content: space-between;
}
.counts_item{
  display: flex;
  align-items: center;
}
.counts .icon_before::before{
  width: 76px;
  height: 76px;
  margin-right: 11px;
}
.duck::before{
  background-image: url("../img/icons/dog_ducking.svg");
}
.house::before{
  background-image: url("../img/icons/dog_house.svg");
}
.leash::before{
  background-image: url("../img/icons/dog_leash.svg");
}
.food::before{
  background-image: url("../img/icons/dog_food_bowl.svg");
}
.counts_item .title{
  padding: 0;
  margin-bottom: 3px;
}
.counts_desc{
  font-weight: var(--weight_bold);
  color: var(--purple);
}
.cta{
  margin-top: -78px;
  position: relative;
}
.cta .container{
  padding: 43px 76px 46px 70px;
  background-color: var(--purple);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta .title{
  width: 60%;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 0;
}
.footer{
  font-size: 1.4rem;
}
.footer_top{
  padding: 88px 0 98px;
}
.footer_top .container{
  display: flex;
  justify-content: space-between;
}
.footer .container{
  color: var(--dark_grey);
}
.company{
  width: 235px;
}
.company>a{
  margin-bottom: 23px;
}
.footer .title{
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  padding: 13px 0 28px;
}
.footer .text{
  line-height: 2.2rem;
  margin-bottom: 33px;
}
.social>:nth-child(n + 2){
  margin-left: 15px;
}
.facebook::before{
  background-image: url("../img/icons/facebook.svg");
}
.twitter::before{
  background-image: url("../img/icons/twitter.svg");
}
.instagram::before{
  background-image: url("../img/icons/instagram.svg");
}
.youtube::before{
  background-image: url("../img/icons/youtube.svg");
}
.explore_links{
  width: 356px;
}
.explore_links_list{
  display: flex;
  flex-wrap: wrap;
}
.explore_links_list li{
  width: 159px;
  height: 22px;
  margin-bottom: 11px;
}
.explore_links_list a{
  transition: .3s;
}
.explore_links_list li:nth-child(odd){
  margin-right: 37px;
}
.contacts_list li{
  width: 236px;
  font-weight: var(--weight_regular);
  line-height: 2rem;
}
.contacts_list li:nth-child(n + 2){
  margin-top: 16px;
}
.contacts_list li:last-child{
  border: 2px solid rgb(0 0 0/0);
  display: flex;
  align-items: center;
}
.contacts_list a{
  width: 100%;
}
.contacts_list .icon_before::before{
  width: 16px;
  height: 16px;
  align-self: flex-start;
  margin: 2px 18px 0 2px;
}
.location::before{
  background-image: url("../img/icons/location.svg"); 
}
.tel::before{
  background-image: url("../img/icons/smartphone.svg");
}
.mail::before{
  background-image: url("../img/icons/email.svg");
}
.hours::before{
  background-image: url("../img/icons/timer.svg");
}
.footer_bottom{
  padding: 22px 0 19px;
  background-color: var(--purple);
  font-size: 1.2rem;
  font-weight: var(--weight_regular);
  line-height: 1.8rem;
}
.footer_bottom .container_wide{
  display: flex;
  justify-content: space-around;
}
.privacy{
  font-weight: var(--weight_bold);
  margin-left: 10px;
}
@media screen and (max-width: 1199.98px){ 
  .container{
    max-width: 960px; 
  }
  .about .content::before{
    right: 10px;
  }
  .banner .container_wide{
    background-position-x: -70%, calc(100% - 43px), calc(100% - 90px), 0, 0;
  }
  .services .features_item:hover, .services .features_item:focus{
    transform: scale(1.05);
  }
  .statistics .content>.title{
    width: 40%;
  }
}
@media screen and (max-width: 991.98px){ 
  .container{
    max-width: 720px; 
  }
  .header .btn{
    padding: 8px 15px;
  }
  .utility>:nth-child(n + 2){
    margin-left: 20px;
  }
  .navbar_links>:nth-child(n + 2){
    margin-left: 20px;
  }
  .header .shop_menu .dropmenu .dropmenu{
    left: auto;
    right: calc(100% + 10px);
  }
  .search_and_cart>:nth-child(n + 2){
    margin-left: 10px;
  }
  .hero_title{
    width: 80%;
  }
  .about .content{
    background-position-y: calc(100% + 90px);
  }
  .over .content{
    padding-bottom: 275px;
  }
  .about .over_img{
    margin-top: -250px;
  }
  .benefits .features_item{
    display: block;
  }
  .banner .container_wide{
    padding-top: 0;
    background-size: 68%, 10%, 80%, 35%, 25%;
    background-position: -170px 100%, calc(100% - 105px) 173px, 0 0, 0 0, 0 calc(100% - 80px);
  }
  .banner .content{
    width: 55%;
  }
  .services .features_item{
    width: 48%;
  }
  .appointment .container_wide{
    padding: 100px 0 140px;
    background-position: -30px 295px, 0 560px;
  }
  .appointment .container{
    flex-direction: column-reverse;
  }
  .appointment_form{
    width: 90%;
  }
  .stat{
    width: 60%;
    margin-bottom: 50px;
  }
  .slider_gallery{
    margin-top: -245px;
  }
  .tabs_item{
    padding: 15px 0;
  }
  .tab_label::before{
    top: 10px;
    right: -10px;
  }
  .testimonials .container_wide{
    padding: 100px 0 150px;
  }
  .testimonials .container{
    flex-direction: column;
  }
  .features{
    justify-content: center;
  }
  .statistics .container_wide{
    padding: 0 0 150px;
  }
  .statistics .container>img{
    position: static;
    margin: -100px 0 20px 20%;
  }
  .statistics .content>.title{
    width: 70%;
  }
  .explore_links{
    width: 130px;
  }
}
@media screen and (max-width: 767.98px){ 
  .container{
    max-width: 100%;
    padding: 0 15px;
  }
  .utility{
    justify-content: flex-end;
  }
  .utility>:nth-child(n + 2){
    margin-left: 15px;
  }
  .utility .btn{
    display: none;
  }
  .header .shop_menu .dropmenu{
    left: auto;
    right: 0;
  }
  .header .shop_menu .dropmenu .dropmenu{
    left: auto;
    right: calc(100% + 10px);
  }
  .navbar{
    padding: 10px 20px;
  }
  .navbar_links>:last-child{
    display: none;
  }
  .title{
    padding: 30px 0;
    font-size: 3rem;
    line-height: 3.6rem
  }
  .hero{
    padding: 270px 0;
  }
  .hero_title{
    font-size: 5rem;
  }
  .over .content{
    padding: 50px 40px 190px;
  }
  .about .title{
    width: 100%;
  }
  .about .content{
    background-size: 80%;
    background-position: 25px calc(100% + 110px);
  }
  .about .content::before{
    display: none;
  }
  .about .over_img{
    margin-top: -165px;
  }
  .benefits{
    margin: 100px 0;
  }
  .benefits .title{
    margin-bottom: 20px;
  }
  .benefits .features{
    flex-direction: column;
  }
  .benefits .features>:nth-child(n + 2){
    margin: 20px 0 0;
  }
  .banner .container_wide{
    background-size: 72%, 11%, 72%, 50%, 20%;
    background-position: 0px 100%, calc(100% - 30px) 120px, 88px 0, 0 0, 0 calc(100% - 60px);
  }
  .banner .container{
    justify-content: flex-start;
  }
  .banner .content{
    width: 80%;
  }
  .banner .title{
    margin-bottom: 0;
  }
  .services .container_wide{
    padding: 100px 0;
  }
  .services .title{
    margin-bottom: 20px;
  }
  .services .features_item{
    padding: 20px 10px;
  }
  .appointment .container_wide{
    background-size: 0, 60%;
    background-position-y: 490px;
  }
  .appointment_form{
    width: 100%;
    padding: 50px;
  }
  .stat>:nth-child(n + 2){
    margin-top: 30px;
  }
  .slider_gallery{
    margin-top: -170px;
  }
  .tabs{
    flex-wrap: wrap;
    border: none;
  }
  .tabs li{
    margin-bottom: 20px;
  }
  .tabs_item{
    padding: 15px 30px;
  }
  .tab_label::before{
    top: 12px;
    right: 18px;
  }
  .gallery.over .content{
    padding-bottom: 170px;
  }
  .live{
    padding: 3px 15px;
    top: 20px;
    right: 20px;
  }
  .testimonials .features_item{
    padding: 20px;
  }
  .statistics .container_wide{
    background-size: contain;
    background-position-y: 30px;
    padding-bottom: 120px;
  }
  .statistics .container{
    text-align: center;
  }
  .statistics .container>img{
    margin: -80px 0 20px 0;
  }
  .statistics .content>.title{
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }
  .counts{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .counts_item{
    margin-bottom: 20px;
  }
  .cta .container{
    padding: 30px 40px;
  }
  .cta .btn{
    padding: 12px 20px;
  }
  .footer_top{
    padding: 70px 0 80px;
  }
  .explore_links{
    display: none;
  }
  .footer_bottom .container_wide{
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 575.98px){
  .logo_and_menu{
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .menu{
    display: flex;
  }
  .logo{
    width: 140px;
    height: auto;
  }
  .logo_and_menu .search_and_cart{
    display: block;
  }
  .logo_and_utility{
    display: block;
    padding: 20px 0;
  }
  .logo_and_utility>a{
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  .utility{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .utility>:nth-child(n + 2){
    margin-left: 0;
  }
  .navbar{
    display: none;
  }
  .navbar_links{
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .navbar_links>li>a{
    font-size: 1.4rem;
  }
  .navbar_links>:nth-child(n + 2){
    margin-left: 10px;
  }
  .dropmenu{
    padding: 5px;
  }
  .navbar_links .dropmenu{
    left: auto;
    right: 0;
  }
  .header .services_menu .dropmenu .dropmenu{
    left: calc(100% + 5px);
    right: auto;
  }
  .header .shop_menu .dropmenu{
    right: 100%;
  }
  .navbar_links .dropmenu .dropmenu{
    left: calc(100% + 5px);
    top: -5px;
  }
  .header .shop_menu .dropmenu .dropmenu{
    left: calc(100% + 5px);
  }
  .hero{
    padding: 260px 0 180px;
  }
  .hero_title{
    width: 100%;
    font-size: 3.5rem;
  }
  .over .content{
    padding: 40px 20px 134px;
  }
  .title{
    padding: 20px 0;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .text{
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .over_img{
    width: 94%;
  }
  .about .over_img{
    margin-top: -120px;
  }
  .about .content{
    background-size: contain;
    background-position: -25px calc(100% + 90px);
  }
  .benefits{
    margin: 80px 0;
  }
  .banner .container_wide{
    background-size: 77%, 11%, 72%, 50%, 20%;
    background-position: -75px 100%, calc(100% - 30px) 165px, 45px 82px, 0 0, 0 calc(100% - 60px);
  }
  .banner .content{
    width: 100%;
  }
  .services .container_wide{
    padding: 80px 0;
  }
  .services .features{
    display: none;
  }
  .services .slider_services{
    display: block;
  }
  .appointment .container_wide{
    padding: 80px 0 120px;
    background-position-y: 840px;
  }
  .stat{
    width: 100%;
  }
  .customers_count{
    font-size: 8rem;
  }
  .appointment_form{
    padding: 40px 20px;
  }
  .appointment_form input, .appointment_form select{
    width: 100%;
  }
  .appointment_form .btn{
    margin: 0 auto;
  }
  .appointment_form .btn[type="reset"]{
    margin-bottom: 20px;
  }
  .slider_gallery{
    margin-top: -140px;
  }
  .tabs{
    justify-content: center;
  }
  .tabs>:last-child{
    margin: 0;
  }
  .gallery.over .content{
    padding-bottom: 155px;
  }
  .live{
    line-height: 1;
    padding: 3px 10px;
    top: 10px;
    right: 10px;
  }
  .testimonials .container_wide{
    padding: 80px 0 120px;
  }
  .testimonials .titles{
    margin: 0 0 20px;
  }
  .testimonials .features{
    flex-direction: column;
  }
  .testimonials .features_item{
    width: 100%;
  }
  .testimonials .features_item:nth-child(n + 2){
    margin: 20px 0 0;
  }
  .statistics .container_wide{
    background-position: 7px 0;
  }
  .statistics .container>img{
    width: 100%;
    height: auto;
  }
  .counts .icon_before::before{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    background-size: cover;
  }
  .cta .container{
    padding: 30px 20px;
    flex-direction: column;
  }
  .cta .title{
    width: 100%;
    margin-bottom: 20px;
  }
  .footer_top .container{
    flex-direction: column;
  }
  .company{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 375px){
  .utility{
    justify-content: center;
  }
  .utility>*{
    width: 80%;
  }
  .utility_hours{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 320px){
  .utility{
    display: block;
  }
  .utility_hours{
    margin-bottom: 20px;
  }
  .hero{
    padding-top: 270px;
  }
  .about .over_img{
    margin-top: -100px;
  }
  .over .content{
    padding-bottom: 110px;
  }
  .about .content{
    background-position-y: calc(100% + 80px);
  }
  .banner .container_wide{
    background-size: 92%, 16%, 72%, 50%, 20%;
    background-position: -75px 100%, calc(100% - 30px) 165px, 25px 109px, 0 0, 0 calc(100% - 60px);
  }
  .appointment .container_wide{
    background-position-y: 960px;
  }
  .slider_gallery{
    margin-top: -115px;
  }
  .gallery.over .content{
    padding-bottom: 130px;
  }
}