:root{
    --dark_black: #000;
    --light_black: #181818;
    --grey_on_white: #b4b4be;
    --grey_on_black: #85858c;
    --accent_yellow: #f0e819;
    --text_yellow: #e1d90d;
    --green: #00ac49;
    --blue: #2d9cdb;
    --bs-gutter-x: 1rem;
    --two_rem: 2rem;
    --weight_500: 500;
    --weight_600: 600;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: "";
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
a, span, ::before, ::after{
    display: inline-flex;
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Montserrat', var(--bs-font-sans-serif);
    color: var(--light_black);
}
.header{
    background-color: var(--light_black);
}
.profile{
    background-color: var(--accent_yellow);
}
.profile::before{
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('../img/profile.svg');
}
.main{
    margin-top: var(--two_rem);
}
.h1{
    line-height: var(--two_rem);
    font-weight: var(--weight_600);
}
.h1 span{
    color: var(--grey_on_white);
}
.text{
    margin-bottom: var(--two_rem);
    line-height: 20px;
}
.text span{
    font-weight: var(--weight_600);
}
.price_and_size{
    font-weight: var(--weight_600);
    color: var(--grey_on_black);
    background-color: var(--light_black);
    margin-bottom: var(--two_rem);
}
.price>span:first-child{
    letter-spacing: 0.06em;
}
.money{
    font-size: 44px;
    color: var(--bs-white);
}
.space{
    font-size: 20px;
    color: var(--bs-white);
}
.space sup{
    font-size: 70%;
    top: -0.3em;
}
.trading_area{
    font-weight: var(--weight_500);
    flex: 1;
}
.advantages{
    font-size: 20px;
    font-weight: var(--weight_500);
    color: var(--dark_black);
}
.advantages p{
    margin-left: 14px;
}
.stand_shapes{
    font-weight: var(--weight_600);
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.stand_shapes_images>*{
    border: 2px solid rgb(180 180 190/20%);
    border-radius: 2px;
}
.h2{
    width: 80%;
    margin: 0 auto 4rem auto;
    font-weight: 500;
    font-size: 3.0rem;
    line-height: 3.2rem;
}
.title_squares>span{
    width: 6px;
    height: 6px;
    background-color: var(--grey_on_white);
}
.title_squares>span:nth-child(n + 2){
    margin-left: 9px;
}