:root{
    --dark_black: #000;
    --light_black: #181818;
    --grey_on_white: #b4b4be;
    --grey_on_black: #85858c;
    --accent_yellow: #f0e819;
    --text_yellow: #e1d90d;
    --green: #00ac49;
    --blue: #2d9cdb;
    --bs-gutter-x: 1rem;
    --two_rem: 2rem;
    --weight_500: 500;
    --weight_600: 600;
    --transition: .3s;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: "";
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
a, span, ::before, ::after{
    display: inline-flex;
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Montserrat', var(--bs-font-sans-serif);
    color: var(--light_black);
}
.header{
    background-color: var(--light_black);
}
.header :focus{
    outline: 2px solid var(--accent_yellow);
}
.burger{
    transition: var(--transition);
}
.burger:hover, .burger:focus{
    background-color: var(--bs-white);
}
.burger_icon{
  width: 20px;
  height: 16px;
}
.burger_icon::before,
.burger_icon::after{
  content: "";
}
.burger_icon span,
.burger_icon::before,
.burger_icon::after{
  width: 100%;
  height: 2px;
  background-color: var(--bs-white);
  transition: var(--transition);
}
.burger:hover .burger_icon span,
.burger:hover .burger_icon::before,
.burger:hover .burger_icon::after,
.burger:focus .burger_icon span,
.burger:focus .burger_icon::before,
.burger:focus .burger_icon::after{
  background-color: var(--light_black);
}
.profile{
    background-color: var(--accent_yellow);
    transition: var(--transition);
}
.profile::before{
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('../img/icons/profile.svg');
}
.profile:hover, .profile:focus{
    background-color: var(--bs-white);
}
.main{
    margin-top: var(--two_rem);
}
.h1{
    line-height: var(--two_rem);
    font-weight: var(--weight_600);
}
.h1 span{
    color: var(--grey_on_white);
}
.text{
    margin-bottom: var(--two_rem);
    line-height: 20px;
}
.text span{
    font-weight: var(--weight_600);
}
.price_and_size{
    font-weight: var(--weight_600);
    color: var(--grey_on_black);
    background-color: var(--light_black);
    margin-bottom: var(--two_rem);
}
.price>span:first-child{
    letter-spacing: 0.06em;
}
.money{
    font-size: 44px;
    color: var(--bs-white);
}
.space{
    font-size: 20px;
    color: var(--bs-white);
}
.space sup{
    font-size: 70%;
    top: -0.3em;
}
.trading_area{
    font-weight: var(--weight_500);
    flex: 1;
}
.advantages{
    font-size: 20px;
    font-weight: var(--weight_500);
    color: var(--dark_black);
}
.advantages_icon::before, .advantages_icon::after{
    content: '';
    background-repeat: no-repeat;
}
.icon_all_colors::before{
    width: 22px;
    height: 22px;
    background-image: url('../img/icons/icon_all_colors.svg');
}
.icon_all_info::before{
    width: 16px;
    height: 10px;
    background-image: url('../img/icons/icon_all_info_1.svg');
}
.icon_all_info::after{
    width: 16px;
    height: 9px;
    background-image: url('../img/icons/icon_all_info_2.svg');
}
.icon_advertising::before{
    width: 13px;
    height: 16px;
    background-image: url('../img/icons/icon_advertising_1.svg');
}
.icon_advertising::after{
    width: 13px;
    height: 16px;
    background-image: url('../img/icons/icon_advertising_2.svg');
}
.advantages p{
    margin-left: 14px;
}
.stand_shapes{
    font-weight: var(--weight_600);
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.stand_shapes_images>*{
    border: 2px solid rgb(180 180 190/20%);
    border-radius: 2px;
}
.h2{
    font-weight: var(--weight_500);
}
.title_squares>span{
    width: 6px;
    height: 6px;
    background-color: var(--grey_on_white);
}