:root{
    --black: #181818;
    --grey_on_white: #b4b4be;
    --grey_on_black: #85858c;
    --accent_yellow: #f0e819;
    --text_yellow: #e1d90d;
    --green: #00ac49;
    --blue: #2d9cdb;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: "";
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
*, ::before, ::after{
    box-sizing: border-box;
}
a, span, ::before, ::after{
    display: inline-flex;
    text-decoration: none;
    color: inherit;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Montserrat', var(--bs-font-sans-serif);
    letter-spacing: 0.15rem;
    color: var(--black);
}
.header{
    background-color: var(--black);
    padding: 2.4rem 0;
}
.profile{
    background-color: var(--accent_yellow);
    padding: .9rem 1rem;
}
.ready_business{
    margin-top: 3.2rem;
}
.h1{
    margin-bottom: 2.4rem;
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 600;
}
.h1 span{
    color: var(--grey_on_white);
}
.text{
    margin-bottom: 3.2rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
.text span{
    font-weight: 600;
}
.price{
    background-color: var(--black);
    padding: 1.6rem 0 2.5rem;
}