:root{
  --black: #000;
  --white: #fff;
  --light_grey: #f5f5f5;
  --grey: #D5D5D5;
  --dark_grey: #4B4B4B;
  --red: #f2726f;
  --purple: #5D62B5;
  --turquoise: #29C3BE;
  --green: #62B58F;
  --gradient: linear-gradient(rgb(41 195 190/70%), rgb(41 195 190/70%)), linear-gradient(rgb(93 98 181/60%), rgb(93 98 181/60%)), linear-gradient(rgb(0 0 0/20%), rgb(0 0 0/20%));
  --font: "Roboto", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --weight_regular: 400;
  --weight_medium: 500;
  --weight_bold: 700;
  --weight_black: 900;
  --border_radius: 40px;
  --border_transparent: 2px solid transparent;
  --shadow: 0px 16px 24px 0px rgb(38 38 38/20%);
  --shadow_hover: 0px 16px 24px 0px rgb(0 0 0/20%);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  display: block;
}
html{
  font-size: 10px;
  scroll-behavior: smooth;
}
body{
  color: var(--white);
  background-color: var(--light_grey);
  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: var(--weight_bold);
  line-height: 1;
  letter-spacing: 0.15px;
}
ol, ul{
  list-style: none;
}
blockquote, q{
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
  content: "";
  content: none;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
*, ::before, ::after{
  box-sizing: border-box;
}
a, span, ::after, ::before{
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
:focus{
  outline: 2px solid var(--purple);
}
.header{
  width: 100%;
  position: absolute;
  top: 0;
}
.container{
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}
.container_wide{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.logo_and_utility{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;
}
.logo_and_menu{
  display: flex;
  align-items: center;
}
.logo_and_menu a:not(.logo){
  background-color: var(--white);
  border-radius: 5px;
}
.btn{
  font-size: 1.2rem;
  line-height: 2;
  font-weight: var(--weight_bold);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
  border-radius: 8px;
  padding: 12px 34px;
  transition: .3s;
}
body .btn:hover, body .btn:focus{
  background-color: red;
  box-shadow: var(--shadow_hover);
  animation: swing .5s linear infinite;
}
@keyframes swing{
  25%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.icon_before::before, .icon_after::after{
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.utility{
  font-size: 1.2rem;
  line-height: 2.2rem;
  display: flex;
  align-items: center;
}
.utility>:nth-child(n + 2){
  margin-left: 30px;
}
.utility>:nth-child(n):not(.btn){
  display: flex;
}
.utility_hours{
  font-weight: var(--weight_bold);
}
.utility_call{
  font-weight: var(--weight_medium);
  border: var(--border_transparent);
  transition: .3s;
}
.utility_call:hover, .utility_call:focus,
.search:hover, .search:focus,
.shopping_cart:hover, .shopping_cart:focus,
.social a:hover, .social a:focus{
  border: 2px solid var(--red);
  border-radius: 5px;
  transform: scale(1.1);
}
.utility .icon_before::before{
  margin-right: 10px;
}
.utility_call::before{
  background-image: url("../img/icons/phone.svg");
}
.utility_hours::before{
  background-image: url("../img/icons/access_time.svg");
}
.utility_desc{
  flex: 1;
}
.utility_desc>:first-child{
  text-transform: uppercase;
}
.header .btn{
  padding: 8px 34px;
}
.navbar{
  padding: 10px 40px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: none;
  align-items: center;
  color: var(--black);
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.menu .dropmenu{
  padding: 10px 20px;
  letter-spacing: 1.5px;
}
.menu .dropmenu>:nth-child(n + 2){
  margin-top: 10px;
}
.logo_and_menu .search_and_cart{
  display: none;
}
.menu a{
  transition: .3s;
}
.burger{
  padding: 0 3px;
  border-radius: 5px;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger:hover, .burger:focus{
  border: 2px solid var(--red);
}
.burger:hover .burger_icon span,
.burger:hover .burger_icon::before,
.burger:hover .burger_icon::after,
.burger:focus .burger_icon span,
.burger:focus .burger_icon::before,
.burger:focus .burger_icon::after{
  background-color: var(--red);
}
.burger_icon{
  width: 24px;
  height: 24px;
  flex-direction: column;
  justify-content: space-around;
}
.burger_icon::before,
.burger_icon::after{
  content: "";
}
.burger_icon span,
.burger_icon::before,
.burger_icon::after{
  width: 100%;
  height: 3px;
  background-color: var(--black);
  transition: .3s;
}
.navbar_links{
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_links a{
  padding: 9px 2px;
  align-items: center;
  transition: .3s;
}
.navbar_links a:hover:not(.btn), .navbar_links a:focus-within:not(.btn),
.menu a:hover, .menu a:focus,
.tabs_item:hover, .tabs_item:focus,
.contacts a:hover, .contacts a:focus,
.explore_links a:hover, .explore_links a:focus,
.privacy_and_terms a:hover, .privacy_and_terms a:focus{
  color: var(--red);
}
.navbar_links li{
  position: relative;
}
.expand_more::after{
  background-image: url("../img/icons/expand_more.svg");
}
.navbar_links>:nth-child(n + 2) {
  margin-left: 37px;
}
.dropmenu{
  padding: 10px;
  position: absolute;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow_hover);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  z-index: 1000;
}
.dropmenu a{
  width: 100%;
  height: 42px;
  align-items: center;
}
.dropmenu .icon_after::after{
  background-image: url("../img/icons/expand_more.svg");
  transform: rotate(-90deg);
  margin-left: auto;
}
.navbar_links .dropmenu,
.menu .dropmenu{
  left: 0;
  top: 100%;
}
.navbar_links .dropmenu .dropmenu{
  left: calc(100% + 10px);
  top: -10px;
}
.navbar_links li:hover>.dropmenu,
.navbar_links li:focus-within>.dropmenu,
.menu:hover>.dropmenu,
.menu:focus-within>.dropmenu{
  visibility: visible;
  opacity: 1;
}
.search_and_cart>:nth-child(n + 2) {
  margin-left: 15px;
}
.burger, .search, .shopping_cart, .social a, .contacts a{
  border: var(--border_transparent);
  transition: .3s;
}
.shopping_cart{
  position: relative;
}
.search::before{
  background-image: url("../img/icons/search.svg");
}
.shopping_cart::before{
  background-image: url("../img/icons/shopping_cart.svg");
}
.shopping_count{
  width: 16px;
  height: 16px;
  font-size: 1rem;
  font-weight: var(--weight_medium);
  line-height: 2.2;
  background-color: var(--red);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -30%;
  right: -30%;
}
.hero{
  background: var(--gradient), url("../img/hero_bgr.webp") no-repeat center / cover var(--turquoise);
  padding: 296px 0;
  box-shadow: 0px 4px 4px rgb(0 0 0/25%);
}
.hero_title {
  width: 60%;
  font-size: 5.6rem;
  font-weight: var(--weight_black);
}
.hero .btn {
  margin-top: 48px;
  box-shadow: var(--shadow);
}
.over{
  margin-top: -80px;
}
.over .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.over .content{
  width: 100%;
  border-radius: var(--border_radius);
  padding: 100px 87px 354px;
}
.about .content{
  background: url("../img/blob_about.webp") no-repeat 55px calc(100% + 40px), var(--purple);
  position: relative;
}
.about .content::before{
  content: "";
  background: url("../img/circles_about.webp") no-repeat center/cover;
  width: 201px;
  height: 317px;
  position: absolute;
  top: -108px;
  right: -76px;
}
.title{
  font-size: 3.6rem;
  font-weight: var(--weight_black);
  line-height: 4.2rem;
  padding: 33px 0 36px;
}
.about .title{
  width: 80%;
}
.text{
  font-weight: var(--weight_regular);
  line-height: 2.4rem;
  color: var(--dark_grey);
}
.about .text{
  color: var(--light_grey);
}
.overline{
  font-size: 1.2rem;
  line-height: 2.4rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.overline_light{
  color: var(--light_grey);
}
.overline_purple{
  color: var(--purple);
}
.overline_light::before{
  background-image: url("../img/icons/overline_white.svg");
}
.overline_purple::before{
  background-image: url("../img/icons/overline_purple.svg");
}
.over_img{
  width: 86%;
  height: auto;
  background-color: var(--purple);
  border-radius: var(--border_radius);
  box-shadow: var(--shadow);
  position: relative;
}
.about .over_img{
  margin-top: -300px;
}
.benefits{
  margin: 110px 0 122px;
}
.benefits .title{
  margin-bottom: 30px;
  color: var(--black);
}
.features{
  display: flex;
}
.benefits .features>:nth-child(n + 2){
  margin-left: 30px;
}
.benefits .features_item{
  display: flex;
}
.benefits .features_content{
  flex: 1;
}
.features_item::before{
  content: "";
  width: 63px;
  height: 63px;
  background-repeat: no-repeat;
  background-position: center;
}
.benefits .features_item::before{
  margin-right: 23px;
}
.dog_love::before{
  background-image: url("../img/icons/dog_love.svg");
}
.dog_vet::before{
  background-image: url("../img/icons/dog_vet.svg");
}
.dog_stream::before{
  background-image: url("../img/icons/dog_stream.svg");
}
.features_title{
  font-weight: var(--weight_black);
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: var(--red);
  margin-bottom: 20px;
}
.banner{
  background-color: var(--turquoise);
}
.banner .container_wide{
  padding: 112px 0 169px;
  background: url("../img/pup.webp") no-repeat 0 100%, url("../img/tennis_ball.webp") no-repeat calc(100% - 43px) 113px/136px, url("../img/line.webp") no-repeat calc(100% - 90px) 0, url("../img/blob_banner.webp") no-repeat 0 0, url("../img/circles_banner.webp") no-repeat 0 calc(100% - 60px);
}
.banner .container{
  display: flex;
  justify-content: flex-end;
}
.banner .content{
  width: 39%;
}
.banner .title{
  margin-bottom: 45px;
}
.services .container_wide{
  color: var(--black);
  padding: 110px 0 122px;
  background: url("../img/blob_services.webp") no-repeat 100% 250%;
}
.services .container{
  text-align: center;
}
.services .title{
  margin-bottom: 30px;
  text-align: left;
}
.services .features{
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 42px;
}
.services .features_item{
  width: 32%;
  margin-bottom: 24px;
  padding: 50px 43px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: var(--shadow);
  flex-direction: column;
  align-items: center;
  transition: .3s;
}
.services .features_item:hover, .services .features_item:focus{
  box-shadow: var(--shadow_hover);
  transform: scale(1.1);
}
.services .features_item::before{
  margin-bottom: 33px;
}
.dog_boarding::before{
  background-image: url("../img/icons/dog_boarding.svg");
}
.dog_daycare::before{
  background-image: url("../img/icons/dog_daycare.svg");
}
.dog_grooming::before{
  background-image: url("../img/icons/dog_grooming.svg");
}
.dog_food::before{
  background-image: url("../img/icons/dog_food.svg");
}
.dog_training::before{
  background-image: url("../img/icons/dog_training.svg");
}
.dog_collar::before{
  background-image: url("../img/icons/dog_collar.svg");
}
.services .slider_services{
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: none;
}
.services .slider_services a:hover, .services .slider_services a:focus{
  box-shadow: var(--shadow);
  transform: scale(1);
}
.services .slider_services .features_item{
  width: 90%;
}
.appointment{
  background: var(--gradient), url("../img/appointment_bgr.webp") no-repeat center/cover, var(--turquoise);
  text-align: center;
}
.appointment .container_wide{
  background: url("../img/blob_appointment.webp") no-repeat 0 30px, url("../img/circles_appointment.webp") no-repeat 100px 275px;
  padding: 150px 0 190px;
}
.appointment .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointment_form{
  width: 60%;
  padding: 76px 57px;
  background-color: var(--purple);
  border-radius: var(--border_radius);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.appointment_form :focus, .gallery :focus, .cta :focus{
  outline: 2px solid var(--turquoise);
}
.appointment_form .title{
  width: 100%;
  margin-bottom: 43px;
  padding: 0;
}
.appointment_form input, .appointment_form textarea, .appointment_form select,
.appointment_form input::placeholder, .appointment_form textarea::placeholder{
  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: var(--weight_regular);
  line-height: 2.4rem;
  color: var(--white);
}
.appointment_form input, .appointment_form textarea, .appointment_form select{
  background-color: inherit;
  border: 2px solid var(--white);
  border-radius: 10px;
  padding: 17px 23px 15px;
}
.appointment_form input, .appointment_form select{
  width: 48%;
  margin-bottom: 22px;
}
.appointment_form textarea{
  width: 100%;
  min-width: 100%;
  height: 180px;
  min-height: 180px;
  max-height: 250px;
  margin-bottom: 30px;
}
.appointment_form select{
  appearance: none;
  cursor: pointer;
}
.appointment_form textarea::placeholder, .appointment_form input::placeholder{
  transition: .3s;
}
.appointment_form textarea:focus::placeholder, .appointment_form input:focus::placeholder{
  opacity: 0;
  transform: translateX(20px);
}
.appointment_form .btn{
  box-shadow: var(--shadow);
  border: none;
  cursor: pointer;
}
.stat{
  width: 35%;
  font-weight: var(--weight_black);
}
.stat>:nth-child(n + 2){
  margin-top: 46px;
}
.stat .title{
  font-size: 3.0rem;
  line-height: 3.6rem;
  padding: 0;
}
.customers_count{
  font-size: 9.6rem;
}
.served{
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.gallery .content{
  background-color: var(--purple);
  padding-bottom: 410px;
}
.slider_gallery{
  margin-top: -360px;
}
.img_fluid{
  display: block;
  width: 100%;
  height: auto;
}
.live{
  font-weight: var(--weight_medium);
  line-height: 2.4rem;
  padding: 3px 19px;
  background-color: var(--green);
  border-radius: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
}
.tabs{
  font-weight: var(--weight_regular);
  line-height: 2.4rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(255 255 255/50%);
}
.tabs_item{
  padding: 15px 30px;
  position: relative;
  transition: .3s;
}
.tab_label::before{
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  right: 23px;
}
.label_green::before{
  background-color: var(--green);
}
.label_grey::before{
  background-color: var(--grey);
}
.tabs .active{
  font-weight: var(--weight_bold);
}
.tabs .active::after{
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--white);
  position: absolute;
  bottom: -2.5px;
  left: 0;
}
.testimonials{
  color: var(--black);
}
.testimonials .container_wide{
  padding: 119px 0 210px;
  background: url("../img/blob_testimonials.webp") no-repeat 0 100%;
}
.testimonials .container{
  display: flex;
}
.testimonials .titles{
  margin-right: 24px;
}
.testimonials .features_item{
  width: 324px;
  padding: 45px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}
.testimonials .features_item:nth-child(n + 2){
  margin-left: 24px;
}
.testimonials .features_item::before{
  display: none;
}
.testimonials .text{
  width: 100%;
  margin-bottom: 18px;
}
.testimonials .features_title{
  font-size: 1.6rem;
  font-weight: var(--weight_bold);
  line-height: 2.4rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.customer{
  margin-right: 17px;
}
.statistics{
  background-color: var(--turquoise);
}
.statistics .container_wide{
  background: url("../img/blob_stats.webp") no-repeat 100% 0;
  padding: 112px 0 212px;
  position: relative;
}
.statistics .container>img{
  width: 498px;
  height: 315px;
  border-radius: var(--border_radius);
  position: absolute;
  top: -80px;
  right: 80px;
}
.statistics .content>.title{
  width: 45%;
  margin-bottom: 40px;
}
.counts{
  display: flex;
  justify-content: space-between;
}
.counts_item{
  display: flex;
  align-items: center;
}
.counts .icon_before::before{
  width: 76px;
  height: 76px;
  margin-right: 11px;
}
.duck::before{
  background-image: url("../img/icons/dog_ducking.svg");
}
.house::before{
  background-image: url("../img/icons/dog_house.svg");
}
.leash::before{
  background-image: url("../img/icons/dog_leash.svg");
}
.food::before{
  background-image: url("../img/icons/dog_food_bowl.svg");
}
.counts_item .title{
  padding: 0;
  margin-bottom: 3px;
}
.counts_desc{
  font-weight: var(--weight_bold);
  color: var(--purple);
}
.cta{
  margin-top: -78px;
  position: relative;
}
.cta .container{
  padding: 43px 76px 46px 70px;
  background-color: var(--purple);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta .title{
  width: 60%;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 0;
}
.footer{
  font-size: 1.4rem;
}
.footer_top{
  padding: 88px 0 98px;
}
.footer_top .container{
  display: flex;
  justify-content: space-between;
}
.footer .container{
  color: var(--dark_grey);
}
.company{
  width: 235px;
}
.company>a{
  margin-bottom: 23px;
}
.footer .title{
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  padding: 13px 0 28px;
}
.footer .text{
  line-height: 2.2rem;
  margin-bottom: 33px;
}
.social{
  display: flex;
}
.social a{
  width: 24px;
  height: 24px;
}
.social>:nth-child(n + 2){
  margin-left: 15px;
}
.explore_links{
  width: 356px;
}
.explore_links_list{
  display: flex;
  flex-wrap: wrap;
}
.explore_links_list li{
  width: 159px;
  height: 22px;
  margin-bottom: 11px;
}
.explore_links_list a{
  transition: .3s;
}
.explore_links_list li:nth-child(odd){
  margin-right: 37px;
}
.contacts_list li{
  width: 236px;
  font-weight: var(--weight_regular);
  line-height: 2rem;
  display: flex;
}
.contacts_list li:nth-child(n + 2){
  margin-top: 16px;
}
.contacts_list li:last-child{
  margin-left: 1px;
  align-items: center;
}
.contacts_list a{
  align-items: center;
}
.contacts_list .icon_before::before{
  width: 16px;
  height: 16px;
  margin-right: 18px;
}
.contacts_list .location::before{
  background-image: url("../img/icons/location.svg");
  margin: 3px 20px 0 2.5px;
  align-self: flex-start;
}
.contacts_list .tel::before{
  background-image: url("../img/icons/smartphone.svg");
}
.contacts_list .mail::before{
  background-image: url("../img/icons/email.svg");
}
.contacts_list .hours::before{
  background-image: url("../img/icons/timer.svg");
}
.footer_bottom{
  padding: 22px 0 19px;
  background-color: var(--purple);
  font-size: 1.2rem;
  font-weight: var(--weight_regular);
  line-height: 1.8rem;
}
.footer_bottom .container_wide{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copy_and_links{
  display: flex;
  align-items: center;
}
.privacy_and_terms{
  font-weight: var(--weight_bold);
  margin-left: 10px;
}
.privacy_and_terms a{
  border: var(--border_transparent);
  transition: .3s;
}
.privacy_and_terms a:focus{
  outline: 2px solid var(--red);
}
@media screen and (max-width: 1199.98px){ 
  .container{
    max-width: 960px; 
  }
  .about .content::before{
    right: 10px;
  }
  .banner .container_wide{
    background-position-x: -70%, calc(100% - 43px), calc(100% - 90px), 0, 0;
  }
  .services .features_item:hover, .services .features_item:focus{
    transform: scale(1.05);
  }
  .statistics .content>.title{
    width: 40%;
  }
  .appointment .container_wide{
    background-position: -200px 10px, 0px 325px;
  }
}
@media screen and (max-width: 991.98px){ 
  .container{
    max-width: 720px; 
  }
  .header .btn{
    padding: 8px 15px;
  }
  .utility>:nth-child(n + 2){
    margin-left: 20px;
  }
  .navbar_links>:nth-child(n + 2){
    margin-left: 20px;
  }
  .header .shop_menu .dropmenu .dropmenu{
    left: auto;
    right: calc(100% + 10px);
  }
  .search_and_cart>:nth-child(n + 2){
    margin-left: 10px;
  }
  .hero_title{
    width: 80%;
  }
  .about .content{
    background-position-y: calc(100% + 90px);
  }
  .over .content{
    padding-bottom: 275px;
  }
  .about .over_img{
    margin-top: -250px;
  }
  .benefits .features_item{
    display: block;
  }
  .banner .container_wide{
    padding-top: 0;
    background-size: 68%, 10%, 80%, 35%, 25%;
    background-position: -170px 100%, calc(100% - 105px) 173px, 0 0, 0 0, 0 calc(100% - 80px);
  }
  .banner .content{
    width: 55%;
  }
  .services .features_item{
    width: 48%;
  }
  .appointment .container_wide{
    padding: 100px 0 140px;
    background-position: -30px 295px, 0 560px;
  }
  .appointment .container{
    flex-direction: column-reverse;
  }
  .appointment_form{
    width: 90%;
  }
  .stat{
    width: 60%;
    margin-bottom: 50px;
  }
  .slider_gallery{
    margin-top: -245px;
  }
  .tabs_item{
    padding: 15px 0;
  }
  .tab_label::before{
    top: 10px;
    right: -10px;
  }
  .testimonials .container_wide{
    padding: 100px 0 150px;
  }
  .testimonials .container{
    flex-direction: column;
  }
  .features{
    justify-content: center;
  }
  .statistics .container_wide{
    padding: 0 0 150px;
  }
  .statistics .container>img{
    position: static;
    margin: -100px 0 20px 20%;
  }
  .statistics .content>.title{
    width: 70%;
  }
  .counts{
    justify-content: space-evenly;
  }
  .counts_item{
    flex-direction: column;
  }
  .counts_item>div{
    text-align: center;
  }
  .counts .icon_before::before{
    margin-right: 0;
  }
  .explore_links{
    width: 130px;
  }
}
@media screen and (max-width: 767.98px){ 
  .container, .container_wide{
    max-width: 100%;
    padding: 0 15px;
  }
  .utility{
    justify-content: flex-end;
  }
  .utility>:nth-child(n + 2){
    margin-left: 15px;
  }
  .utility .btn{
    display: none;
  }
  .header .shop_menu .dropmenu{
    left: auto;
    right: 0;
  }
  .header .shop_menu .dropmenu .dropmenu{
    left: auto;
    right: calc(100% + 10px);
  }
  .navbar{
    padding: 10px 20px;
  }
  .navbar_links>:last-child{
    display: none;
  }
  .title{
    padding: 30px 0;
    font-size: 3rem;
    line-height: 3.6rem
  }
  .hero{
    padding: 270px 0;
  }
  .hero_title{
    font-size: 5rem;
  }
  .over .content{
    padding: 50px 40px 190px;
  }
  .about .title{
    width: 100%;
  }
  .about .content{
    background-size: 80%;
    background-position: 25px calc(100% + 110px);
  }
  .about .content::before{
    display: none;
  }
  .about .over_img{
    margin-top: -165px;
  }
  .benefits{
    margin: 100px 0;
  }
  .benefits .title{
    margin-bottom: 20px;
  }
  .benefits .features{
    flex-direction: column;
  }
  .benefits .features>:nth-child(n + 2){
    margin: 20px 0 0;
  }
  .banner .container_wide{
    background-size: 72%, 11%, 72%, 50%, 20%;
    background-position: 0px 100%, calc(100% - 30px) 120px, 88px 0, 0 0, 0 calc(100% - 60px);
  }
  .banner .container{
    justify-content: flex-start;
  }
  .banner .content{
    width: 80%;
  }
  .banner .title{
    margin-bottom: 0;
  }
  .services .container_wide{
    padding: 100px 0;
  }
  .services .title{
    margin-bottom: 20px;
  }
  .services .features_item{
    padding: 20px 10px;
  }
  .appointment .container_wide{
    background-size: 0, 60%;
    background-position-y: 490px;
  }
  .appointment_form{
    width: 100%;
    padding: 50px;
  }
  .stat>:nth-child(n + 2){
    margin-top: 30px;
  }
  .slider_gallery{
    margin-top: -170px;
  }
  .tabs{
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .tabs li{
    margin-bottom: 20px;
  }
  .tabs_item{
    padding: 15px 30px;
  }
  .tab_label::before{
    top: 12px;
    right: 18px;
  }
  .gallery.over .content{
    padding-bottom: 170px;
  }
  .live{
    padding: 3px 15px;
    top: 20px;
    right: 20px;
  }
  .testimonials .features_item{
    padding: 20px;
  }
  .statistics .container_wide{
    background-size: contain;
    background-position-y: 30px;
    padding-bottom: 120px;
  }
  .statistics .container{
    text-align: center;
  }
  .statistics .container>img{
    margin: -80px 0 20px 0;
  }
  .statistics .content>.title{
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }
  .statistics .container_wide{
    background-size: 100%;
    background-position: -4px 0px;
  }
  .counts_item{
    margin-bottom: 20px;
  }
  .cta .container{
    padding: 30px 40px;
  }
  .cta .btn{
    padding: 12px 20px;
  }
  .footer_top{
    padding: 70px 0 80px;
  }
  .explore_links{
    display: none;
  }
  .footer_bottom .container_wide{
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 575.98px){
  :root{
    --border_radius: 20px;
  }
  .logo_and_menu{
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .menu{
    display: flex;
  }
  .logo{
    width: 140px;
    height: auto;
  }
  .logo_and_menu .search_and_cart{
    display: block;
  }
  .logo_and_utility{
    display: block;
    padding: 20px 0;
  }
  .logo_and_utility>a{
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  .utility{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .utility>:nth-child(n + 2){
    margin-left: 0;
  }
  .navbar{
    display: none;
  }
  .navbar_links{
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .navbar_links>li>a{
    font-size: 1.4rem;
  }
  .navbar_links>:nth-child(n + 2){
    margin-left: 10px;
  }
  .dropmenu{
    padding: 5px;
  }
  .navbar_links .dropmenu{
    left: auto;
    right: 0;
  }
  .header .services_menu .dropmenu .dropmenu{
    left: calc(100% + 5px);
    right: auto;
  }
  .header .shop_menu .dropmenu{
    right: 100%;
  }
  .navbar_links .dropmenu .dropmenu{
    left: calc(100% + 5px);
    top: -5px;
  }
  .header .shop_menu .dropmenu .dropmenu{
    left: calc(100% + 5px);
  }
  .hero{
    padding: 260px 0 180px;
  }
  .hero_title{
    width: 100%;
    font-size: 3.5rem;
  }
  .over .content{
    padding: 40px 20px 134px;
  }
  .title{
    padding: 20px 0;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .text{
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .over_img{
    width: 94%;
  }
  .about .over_img{
    margin-top: -120px;
  }
  .about .content{
    background-size: 0;
  }
  .benefits{
    margin: 80px 0;
  }
  .banner .container_wide{
    background-size: 69%, 11%, 72%, 50%, 28%;
    background-position: -27px 100%, calc(100% - 30px) 153px, 56px 68px, 0 0, 0 calc(100% - 60px);
  }
  .banner .content{
    width: 100%;
  }
  .services .container_wide{
    padding: 80px 0;
  }
  .services .features{
    display: none;
  }
  .services .slider_services{
    display: block;
  }
  .appointment .container_wide{
    padding: 80px 0 120px;
    background-position-y: 665px;
  }
  .stat{
    width: 100%;
  }
  .customers_count{
    font-size: 8rem;
  }
  .appointment_form{
    padding: 30px 20px;
    flex-direction: column;
    align-items: center;
  }
  .appointment_form .title{
    margin-bottom: 30px;
  }
  .appointment_form input, .appointment_form select{
    width: 100%;
    margin-bottom: 15px;
  }
  .appointment_form input, .appointment_form textarea, .appointment_form select {
    border-radius: 8px;
    padding: 10px 15px;
  }
  .appointment_form textarea{
    margin-bottom: 20px;
  }
  .appointment_form input, .appointment_form textarea, .appointment_form select, .appointment_form input::placeholder, .appointment_form textarea::placeholder{
    line-height: 2rem;
  }
  .appointment_form .btn[type="reset"]{
    order: 10;
    margin-top: 20px;
  }
  .slider_gallery{
    margin-top: -140px;
  }
  .tabs{
    justify-content: center;
  }
  .tabs>:last-child{
    margin: 0;
  }
  .gallery.over .content{
    padding-bottom: 155px;
  }
  .live{
    line-height: 1;
    padding: 3px 10px;
    top: 10px;
    right: 10px;
  }
  .testimonials .container_wide{
    padding: 80px 0 120px;
  }
  .testimonials .titles{
    margin: 0 0 20px;
  }
  .testimonials .features{
    flex-direction: column;
  }
  .testimonials .features_item{
    width: 100%;
  }
  .testimonials .features_item:nth-child(n + 2){
    margin: 20px 0 0;
  }
  .statistics .container_wide{
    background-position: 7px 0;
  }
  .statistics .container>img{
    width: 100%;
    height: auto;
  }
  .counts{
    flex-direction: column;
  }
  .counts_item{
    flex-direction: row;
    justify-content: center;
  }
  .counts .icon_before::before{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    background-size: contain;
  }
  .cta .container{
    padding: 30px 20px;
    flex-direction: column;
  }
  .cta .title{
    width: 100%;
    margin-bottom: 20px;
  }
  .footer_top .container{
    flex-direction: column;
  }
  .company{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .social{
    justify-content: center;
  }
}
@media screen and (max-width: 414px){
  .over .content {
    padding-bottom: 140px;
  }
  .banner .container_wide {
    background-size: 76%, 13%, 72%, 60%, 30%;
    background-position: -38px 100%, calc(100% - 30px) 165px, 41px 86px, 0 0, 0 calc(100% - 60px);
  }
  .appointment .container_wide {
    background-position-y: 700px;
  }
  .tabs{
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 375px){
  .utility{
    justify-content: center;
  }
  .utility>*{
    width: 80%;
  }
  .utility_hours{
    margin-bottom: 20px;
  }
  .appointment .container_wide {
    background-position-y: 817px;
  }
  .over .content{
    padding-bottom: 110px;
  }
  .about .over_img {
    margin-top: -100px;
  }
  .banner .container_wide {
    background-size: 280px, 53px, 85%, 76%, 37%;
    background-position: -76px 100%, calc(100% - 28px) 147px, 0px 69px, 0 0, 0 calc(100% - 60px);
  }
  .gallery.over .content {
    padding-bottom: 130px;
  }
  .slider_gallery {
    margin-top: -115px;
  }
  .statistics .container_wide {
    background-position: 0 0;
  }
  .copy_and_links{
    flex-direction: column;
    margin-top: 10px;
  }
  .privacy_and_terms{
    margin: 0;
  }
}
@media screen and (max-width: 320px){
  .utility_hours{
    margin-bottom: 20px;
  }
  .hero{
    padding-top: 270px;
  }
  .about .over_img{
    margin-top: -100px;
  }
  .over .content{
    padding-bottom: 110px;
  }
  .appointment .container_wide{
    background-position-y: 824px;
  }
  .slider_gallery{
    margin-top: -115px;
  }
  .gallery.over .content{
    padding-bottom: 130px;
  }
  .banner .container_wide {
    background-size: 280px, 50px, 85%, 76%, 37%;
    background-position: -76px 100%, calc(100% - 13px) 164px, 0px 87px, 0 0, 0 calc(100% - 60px);
  }
  .counts{
    flex-direction: column;
    align-items: center;
  }
}
/* Swiper styles */
@font-face{font-family:swiper-icons;src:url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA') format('woff');font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}:root{--swiper-navigation-size:44px}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:calc(var(--swiper-navigation-size)/ 44 * 27);height:var(--swiper-navigation-size);margin-top:calc(-1 * var(--swiper-navigation-size)/ 2);z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--swiper-navigation-color,var(--swiper-theme-color))}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-next:after,.swiper-button-prev:after{font-family:swiper-icons;font-size:var(--swiper-navigation-size);text-transform:none!important;letter-spacing:0;text-transform:none;font-variant:initial;line-height:1}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:10px;right:auto}.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after{content:'prev'}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after{content:'next'}.swiper-button-next.swiper-button-white,.swiper-button-prev.swiper-button-white{--swiper-navigation-color:#ffffff}.swiper-button-next.swiper-button-black,.swiper-button-prev.swiper-button-black{--swiper-navigation-color:#000000}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:var(--swiper-pagination-color,var(--swiper-theme-color))}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:var(--swiper-pagination-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white{--swiper-pagination-color:#ffffff}.swiper-pagination-black{--swiper-pagination-color:#000000}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:flex;justify-content:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;transform-origin:50%;animation:swiper-preloader-spin 1s infinite linear;box-sizing:border-box;border:4px solid var(--swiper-preloader-color,var(--swiper-theme-color));border-radius:50%;border-top-color:transparent}.swiper-lazy-preloader-white{--swiper-preloader-color:#fff}.swiper-lazy-preloader-black{--swiper-preloader-color:#000}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0px;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}