html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #e8e3e3;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, ::before, ::after{
    box-sizing: border-box;  
}
a, span, ::before, ::after{
    display: inline-flex;
    text-decoration: none;
    color: inherit;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
.btn_with_count{
	padding: .175rem .55rem;
}
.badge{
	transform: translate(-80%, -33%)
}
.favorites{
	top: 16px;
	right: 16px;
}
.to-favorites{
	color: var(--bs-white);
}
.not-found{
	background: linear-gradient(rgb(255 255 255/80%), rgb(255 255 255/80%)), url('../img/not_found_bgr.webp') no-repeat center/contain;
	padding: 200px 0;
}
.form-floating>.form-control{
	height: calc(3rem - 10px);
}
.form-floating>.form-control,
.form-floating>label{
    padding: .5rem 1.75rem .5rem .75rem;
}
.frown{
	color: #f4c44b;
}
.back-to-list{
	background-color: var(--bs-white);
}
.card-labels{
	font-size: 14px;
	color: var(--bs-white);
	top: 3px;
}
.card-labels>:nth-child(n + 2){
	margin-top: 3px;
}
.card-labels span{
	padding: 3px 5px;
}
.card-labels-top span{
	background-color: #79BE00;
}
.card-labels-vip span{
	background-color: #0d6efd;
}
.card-labels-top::after, .card-labels-vip::after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.card-labels-top::after{
	border-left: 5px solid #79BE00;
}
.card-labels-vip::after{
	border-left: 5px solid #0d6efd;
}
.card-img{
	height: 150px;
	object-fit: cover;
	background-color: #ccc;
}
.card-price{
	color: green;
}
.card-base-info i, .card-consume i{
	color: #f7643b;
}
.card-base-info i::before{
	width: 18px;
	justify-content: center;
}
.card-vin-label{
	color: var(--bs-white);
	background-color: #0d6efd;
}
.card-rating{
	color: gold;
}
.card-transmition::before{
	content: '';
	width: 18px;
	height: 16px;
	background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7' stroke='%23DB5C4C'/%3E%3Cpath d='M4.5 4V7.5M4.5 11V7.5M4.5 7.5H7.5M7.5 7.5V4M7.5 7.5V11M7.5 7.5H10.5V4' stroke='%23DB5C4C'/%3E%3C/svg%3E%0A") no-repeat center/contain;
}
.filter-form{
	top: 1rem;
}
.filter-block{
	max-height: 103px;
	background-color: var(--bs-white);
}
.filter-count{
	color: rgb(255 255 255/60%);
}
.filter-count::before{
	content: '\0028';
}
.filter-count::after{
	content: '\0029';
}