/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    width: 100%;
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    background: #fff;
}
a{
    text-decoration: none;
    color: #000;
}
.header_main{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.header_main>.container{
    justify-content: space-between;
}
.header_main_logo{
    width: 20%;
}
.header_main_logo_image{
    width: 100px;
}
.header_main_content{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_form{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_input, .search_submit{
    padding: 10px 20px;
    border: 1px solid #afaaaa;
    border-radius: 5px;
}
.search_input{
    flex-grow: 1;
    margin-right: 10px;
}
.search_submit{
    cursor: pointer;
    color: #fff;
    background: crimson;
    border: 1px solid crimson;
}
.search_submit:hover{
    opacity: 0.7;
}
.authoriz_btns{
    display: flex;
}
.authoriz_btns_enter{
    margin-right: 10px;
}
.authoriz_btns_registr{
    margin-left: 10px;
}
.btn{
    border: none;
    cursor: pointer;
}
.btn:hover{
    color: red;
    text-decoration: underline;
}
.navbar>.container{
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
}
.navbar_link{
    padding: 20px;
    border-bottom: 1px solid #fff;
}
.navbar_link:hover{
    color: red;
    border-bottom: 1px solid red;
}
.navbar_popup{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px 30px;
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
}
.navbar_popup_list>li:not(:last-child){
    margin-bottom: 5px;
}
.popup_link:hover{
    color: red;
    text-decoration: underline;
}
.link_arrow{
    font-size: 10px;
    margin-left: 5px;
}
.navbar_link:last-child{
    display: flex;
    align-items: center;
}
.show_popup:hover+.navbar_popup{
    display: block;
}
.main_block>.container{
    justify-content: space-between;
}
.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.main_block_title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 0;
}
.main_content_item{
    padding: 10px 0;
}
.main_content_image{
    width: 50%;
    height: 200px;
    border-radius: 10px;
    transition: .5s;
}
.main_content_image[align="left"]{
    margin: 0 10px 0 0;
}
.main_content_image[align="right"]{
    margin: 0 0 0 10px;
}
.main_content_text{
    text-align: justify;
}
.sidebar, .other_links{
    width: 20%;
    text-align: center;
    padding: 20px 0;
}
.sidebar_list, .other_links_list{
    position: sticky;
    top: 20px;
}
.sidebar_list>li:not(:last-child), .other_links_list>li:not(:last-child){
    margin-bottom: 5px;
}
.sidebar_item:hover, .other_links_item:hover{
    color: red;
    text-decoration: underline;
}
.contacts_title, .partners_title{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    padding: 50px 0 30px 0;
}
.contacts>.container{
    justify-content: center;
}
.contacts_desc{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.contacts_desc>a:hover{
    color: red;
    text-decoration: underline;
}
.contacts_desc *:not(:last-child){
    margin-bottom: 20px;
}
.contacts_map{
    width: 30%;
    border-radius: 10px;
}
.partners{
    padding: 20px 0 50px 0;
}
.partners>.container{
    justify-content: space-between;
}
.partners_logo{
    width: 10%;
}
.footer{
    border-top: 1px solid #000;
}
.footer>.container{
    justify-content: center;
    padding: 30px;
    font-size: 20px;
}