
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a,
span {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  padding-bottom: 4000px;
  font-family: 'Montserrat';
  /* font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
  
}
.k{
  font-family: 'Kobzar KS', sans-serif;
}































.social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.social-list a{
  width: 100px;
  height: 100px;
  background: url('../img/social.png') no-repeat 0 100% / auto 300%;
  margin: 0 30px;
  transition: .3s;
}
.social-list a:hover{
  background-position-y: 50%;
}
.social-list>li:nth-child(1)>a{
background-position-x: -200px;
}
.social-list>li:nth-child(2)>a{
  background-position-x: -400px;
}
.social-list>li:nth-child(3)>a{
  background-position-x: 0px;
}

.scott{
  margin: 200px;
  /* border: 1px solid #000; */
  width: 77px;
  height: 100px;
  transform: scaleX(-1);
  background: url('../img/scott.png') 0 0 / auto 200%;
  animation: run .5s steps(7) infinite;
}
@keyframes run{
  100% {
    background-position-x: 100%;
  }
}